table{
    width: 100%;
    border-collapse: collapse; /* para que no se repita la doble linea */
}
table, td, th{
     border:1px solid black;
 }

 td, th{
     width: 100px;
     height: 30px;
 }
th{
    text-align: right;
    vertical-align: left;

}
tr:nth-child(odd){
    background-color:#d1d1d1;
}
